# It's a Java project
language: java

# We don't need sudo
sudo: false

# Build the Lille game framework first
before_install:
  - git clone https://github.com/LeRangDuFond/lille-game-framework.git
  - cd lille-game-framework
  - mvn install
  - cd..

# Cache the Maven directory (faster builds)
cache:
  directories:
    - $HOME/.m2

# Use an Ubuntu 12.04 Precise Pengolin VM
os:
  - linux

# Use OpenJDK 7
jdk:
  - openjdk7

# No notifications by e-mail (because it's annoying)
notifications:
  email: false